@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
  --header-height: 80px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  overflow-x: hidden;
}

html,
body,
#app {
  height: 100%;
}

.header {
  height: var(--header-height);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
  }
}
